@media screen {
    header {
        height: 70px;
        background-color: coral;
        display: flex;
        align-self: center;
        justify-content: space-between;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);

    }

    .header-right {
        display: flex;
        text-decoration: none;
    }
}