@media screen {
    .NavButton{
        height: 100%;
        width: 150px;
        margin-left: 15px;
        margin-right: 15px;

        display: flex;
        justify-content: center;
        align-self: center;

        transition: all 0.2s;
    }

    .NavButton:hover{
        background-color: rgb(240, 240, 240);
    }

    .NavButton p{
        margin-top: 30px;
        font-size: 18px;
        color: black;
        font-weight: bolder;

        transition: all 0.3s;
    }
}